.header img {
    width: 300px;
    height: 100px;
}
.header{
    text-align: center;
}
.nav{
    background-color :black;
    line-height: 40px;
}
.nav a{
    color : white;
    text-decoration:none;
    margin-left: 20px;
    padding:10px;
}
nav a:hover{
    background-color:aqua;
}